*{
    font-family: "Roboto";
}
body{
    background-color: #85dcb8;
    width: 94vw;
    margin: 0;
    padding: 0;
}
.post{
    width: 340px;
    height: 450px;
    outline: auto;
    border-radius: 20px;
    margin: 50px;
    font-family: "Arial Black";
    position: relative;
    overflow: hidden;
}
.top{
    width: 100%;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.down{
    width: 100%;
    height: 25%;
    background-color: lightcyan;
    cursor: pointer;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    transition: 500ms;
}
.down:hover{
    background-color: rgb(157, 199, 199);
    color: azure;
}
.products{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chil{
    position: relative;
    display: flex;
    width: 100%;
    left: 5%;
}
#t1{
    background-image: url(/images/ns\ L.png);
}
#t2{
    background-image: url(/images/ps5.jpg);
}
#t3{
    background-image: url(/images/ps4.webp);
}
#t4{
    background-image: url(/images/donald.jpg);
}
#t5{
    background-image: url(/images/man.webp);
}
#t6{
    background-image: url(/images/one.jpg);
}
#t7{
    background-image: url(/images/mine.webp);
}
#t8{
    background-image: url(/images/far.jpg);
}
#t9{
    background-image: url(/images/grand.jpg);
}
#t10{
    background-image: url(/images/god.avif);
}
#t11{
    background-image: url(/images/mortal.webp);
}
.back{
    width: 50px;
    height: 50px;
    background-color:#e8a87c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin: 20px;
    transition: 600ms linear;
    font-family: "Roboto";
    position: absolute;
    z-index: 12;
}
.back:hover{
    background-color: darkslategray;
    color: aliceblue;
    transition: 600ms linear;
    font-size: 28px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }